
.motto {
    text-align: center;
    font-size: 3em;
}

.motto-2 {
    font-size: 2em;
    text-align: center;
}

.nav-wrapper {
    background-color: skyblue;
}

.col {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.food-pic{
    width: 100%;
    height: 250px;
    text-align: center;
}

.food-picture{
    max-height: 100%;
    max-width: 100%;
}

.card.large {
    margin: 20px;
}

.categories-row {
    width: 90%;
}

.add-header {
    margin-left: 3em;
}

.add-row {
    width: 70%;
}

.row-short{
    width: 40%;
}

.index-body {
    background: url("..static/images/background-1.jpg");
}