body {
    filter: grayscale(30%);
}
.motto {
    text-align: center;
    font-size: 3em;
}

.motto-2 {
    font-size: 2em;
    text-align: center;
}

.nav-wrapper {
    background-color: skyblue;
}

.col {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.food-pic{
    width: 100%;
    height: 250px;
    text-align: center;
}

.food-picture{
    max-height: 100%;
    max-width: 100%;
}