{% extends 'base.html' %}
{% block content %}
    {% for recipe in recipes %}
    <div class="row">
        <div class="col s6 m4">
          <div class="card large">
            <div class="card-image food-pic">
              <img src="../static/images/dessert.jpg">
            </div>
            <div class="card-content">
              <p>{{recipe.recipe_name}} , {{recipe.category_name}}</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
    </div>
        {{recipe.recipe_name}}
        {{recipe.category_name}}
        {{recipe.time_to_prepare}}
    {% endfor %}
{% endblock %}